<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pliakhanau.myfirstapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".homeWorkTimer.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homeWorkTimer.TimerActivity"/>
        <activity android:name=".homeWorkDataBase.ShopActivity" />
        <activity android:name=".homeWorkMothersDay.GreetingActivity" />
        <activity android:name=".homeWorkMothersDay.MothersDayActivity" />
        <activity android:name=".homeWork5.WelcomActivity" />
        <activity android:name=".homeWork5.VerificationActivity" />
        <activity android:name=".homeWork4.CoffeeActivity" />
        <activity android:name=".homeWork3.VegetablesActivity" />
        <activity android:name=".homeWork2.AnimationActivity" />
        <activity android:name=".homeWork2.FlagsActivity" />
        <activity android:name=".homeWork2.AnimationFlagsActivity" />
        <activity android:name=".homeWorkNetwork.NetworkActivity" />
        <activity android:name=".homeWork1.PicassoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".homeWorkTimer.MyForegroundService"/>
    </application>

</manifest>